﻿@model OnlineShopping.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>Order</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Proprietaire)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Proprietaire)
		</dd>

	</dl>
	<h3>Produits </h3>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<td>Id</td>
				<td>Name</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var product in Model.Products)
			{
				<tr>
					<td>
						@product.ProductId

				</td>
				<td>
					@product.Titre
				</td>
			</tr>
		}
		</tbody>
	</table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
