﻿@model IEnumerable<OnlineShopping.Models.Category>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
	@using (Html.BeginForm())
	{
	<p>
		Trier par filtre: @Html.TextBox("SearchString") <br />
		<input type="submit" value="Filter" style="bottom" />
	</p>
}
	</p>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Titre)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Titre)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }) |
					@Html.ActionLink("Details", "Details", new { id = item.CategoryId }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
				</td>
			</tr>
		}

	</table>
